POSTGRES_DB=drawn_lights_game_dev
POSTGRES_USER=drawn_lights_game_dev
POSTGRES_PASSWORD=drawn_lights_game_dev
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
POSTGRES_PORT=5432
PGADMIN_PORT=5050
DATABASE_URL="postgresql://drawn_lights_game_dev:drawn_lights_game_dev@localhost:5432/drawn_lights_game_dev?schema=public"
NODE_ENV=development