NODE_ENV=production
POSTGRES_DB=drawn_lights_game.local.prod
POSTGRES_USER=drawn_lights_game.local.prod
POSTGRES_PASSWORD=drawn_lights_game.local.prod
PGADMIN_DEFAULT_EMAIL=admin@local.prod
PGADMIN_DEFAULT_PASSWORD=admin.local.prod
POSTGRES_PORT=5433
PGADMIN_PORT=5051
DATABASE_URL="postgresql://drawn_lights_game.local.prod:drawn_lights_game.local.prod@postgres:5432/drawn_lights_game.local.prod?schema=public"
SERVER_NAME=local.dev.game.drawnlights.show
CERTS_DIR=./certs
