POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
POSTGRES_PORT=5432
PGADMIN_PORT=5050
DATABASE_URL="postgresql://app:app@localhost:5432/app?schema=public"
NODE_ENV=development